.header {
  background-color: $color-grey-dark-2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  font-size: 1.5rem;
  margin-right: 1rem;
  position: fixed;
  box-shadow: 0 0.1rem 0.2rem $color-grey-dark-2;
  z-index: 100;

  .header-logo:hover {
    background-color: $color-orange-1;
    color: $color-grey-dark-2;
  }

  @media only screen and (min-width: $bp-medium) {
    padding-right: 5rem;
  }
}
