// about section color
$color-grey-dark-1: #2A3132;
// nav color
$color-grey-dark-2: #1d2122;
// orange highlights
$color-orange-1:#fa6a28;
$color-orange-2: #fe6019;
// white
$color-white: #f3f2f0;
// font body
$font-display: 'Quicksand',
sans-serif;
// font logo
$font-logo: 'Railway',
sans-serif;
// 
// RESPONSIVE BREAKPOINTS
$bp-small: 37.5em; // 600px;
$bp-medium: 48em; //768px;
$bp-large: 62.5em; //1000px;