<!DOCTYPE html>
<html lang="en">

{{partial "head"}}

<body class="body">
    {{partial "header" .}}

    <main class="project">
        {{.Content}}
        <h1 class="project__pg-title">Projects</h1>

        <section class="project__items">
            <ul class="project__list">
                {{ range .Pages}}
                <li class="project__item">
                    <section class="project__link">
                        <p data-height="250" data-theme-id="dark" data-slug-hash="{{.Params.codepenid}}"
                            data-default-tab="result" data-user="fran-cesca" data-pen-title="Light the Bulb"
                            data-preview="true" class="codepen">See the Pen
                            <a href="https://codepen.io/fran-cesca/pen/{{.Params.codepenid}}/">Light the Bulb</a> by
                            francesca (
                            <a href="https://codepen.io/fran-cesca">@fran-cesca</a>) on
                            <a href="https://codepen.io">CodePen</a>.</p>
                        <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
                    </section>
                    <section class="project__desc">
                        <h2 class="project__title">{{.Title}}</h2>
                        {{.Content}}
                    </section>


                </li>
                {{end}}
            </ul>

        </section>

    </main>

    {{partial "footer" .}}

</body>

</html>