<!DOCTYPE html>
<html lang="en">

{{partial "head" .}}

<body class="body">
    {{partial "header" .}}
    <!-- <img class="headerimage" src="{{.Params.headerimage}}" alt=""> -->

    <!-- <img srcset="/imgs/beer-320px.png 320w,
    /imgs/beer-600px.png 600w,
    /imgs/beer-1001px.png 1001w" sizes="
    (max-width: 320px) 400px,
    (max-width: 600px) 600px,
    (max-width: 1001px) 789px, 1150px" src="/imgs/beer.png" alt="beer"> -->

    <!-- <h1 class="blogpost__title"></h1> -->
    <main class="blogpost">
        {{.Content}} {{ range .Pages}} {{end}}
    </main>

    {{partial "footer" .}}

</body>

</html>