.blog {
    &__pg-title {
        @include position-pg;
    }

    &__items {
        width: 100%;
        box-sizing: border-box;
    }

    &__list {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        @media only screen and (min-width: $bp-medium) {
            flex-flow: row wrap;
            justify-content: center;
        }
    }

    &__item {
        height: 26rem;
        width: 85%;
        background-color: $color-grey-dark-1;
        border: .15rem solid $color-grey-dark-1;
        border-radius: .4rem;
        margin: 1rem;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: flex-end;

        @media only screen and (min-width: $bp-small) {
            width: 65%;
        }

        @media only screen and (min-width: $bp-medium) {
            width: 45%;
        }

        @media only screen and (min-width: $bp-large) {
            width: 30%;
        }
    }

    &__title {
        &:hover {
            color: $color-orange-1;
        }
    }

    &__intro {
        color: $color-white;
        margin: 1rem;
    }
}

// blog single page
.blogpost {
    margin: 9rem 3rem 0 3.5rem;
}