.project {
    &__pg-title {
        @include position-pg;
    }

    &__list {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin-top: .8rem;

        @media only screen and (min-width: $bp-medium) {
            flex-flow: row wrap;
            justify-content: center;
        }
    }

    &__item {
        width: 85%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        margin-bottom: 1.5rem;
        border-radius: .4rem;
        border: .1rem solid $color-grey-dark-1;

        @media only screen and (min-width: $bp-small) {
            width: 65%;
        }

        @media only screen and (min-width: $bp-medium) {
            width: 45%;
            margin: 1.5rem;
        }

        @media only screen and (min-width: $bp-large) {
            width: 30%;
        }
    }

    &__title {
        margin-bottom: 1rem;
    }

    &__link,
    &__desc {
        width: 100%;
        box-sizing: border-box;
        background-color: $color-grey-dark-1;

        p {
            color: $color-white;
            margin: 0 1rem 1rem 1rem;
        }
    }

    &__desc {
        padding-bottom: 1rem;
    }
}